.column {
    padding: 6px 6px;
    margin-bottom: 12px;

    .column-header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        p {
            font-size: 18px;
            margin-bottom: 16px;
            color: var(--white-color);
        }
    }

    @media screen and (min-width: 720px) {
        padding: 0;
        max-width: 360px;
    }
}

.task-list {
    background: var(--gray-color);
    padding: 12px;
    border-radius: 5px;
}

.droppable-area {
    min-height: 50px;
}
