.column {
    padding: 10px 10px;
    margin-bottom: 12px;

    .column-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid var(--gray-color);
        padding-bottom: 8px;
        margin-bottom: 16px;

        h2 {
            font-size: 22px;
            margin-right: 8px;
        }

        p {
            color: var(--gray-color);
        }
    }

    @media screen and (min-width: 720px) {
        margin: 0 18px 0 0;
        max-width: 320px;
        min-width: 280px;
    }
}

.task-list {
    min-height: 50px;

    @media screen and (min-width: 720px) {
        min-height: 100px;
    }
}
